@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl md:text-4xl relative;
  }
  h2 {
    @apply font-semibold text-base md:text-xl;
  }
}
@layer components {
  .px-setting {
    @apply px-5 md:px-10 lg:px-32;
  }
  .card-skills {
    @apply w-10 h-10 bg-white shadow-xl flex items-center justify-center;
  }

  .coba-1 {
    @apply absolute dark:bg-gray-900 bg-colorBackground dark:text-white inset-0 z-30 flex-col gap-10 items-center justify-center flex;
  }
  .coba-2 {
    @apply absolute dark:bg-gray-900 bg-colorBackground dark:text-white inset-0 z-20 flex-col gap-10 items-center justify-center flex -translate-y-full duration-1000;
  }
  .hide-1 {
    @apply hidden;
  }
  .hide-2 {
    @apply block;
  }
  .underline {
  }
  .underline:hover .cobaunderline {
    @apply translate-x-0 duration-1000;
  }
  .Skills-grid {
    @apply grid items-center justify-center gap-4 grid-cols-3 md:grid-cols-5 lg:grid-cols-8;
  }
  .Active {
    @apply text-gray-700 hover:text-gray-900 cursor-pointer dark:text-slate-200;
  }
  .SkillsInActive {
    @apply border-blue-600 text-black border-b-2 hover:text-gray-900 cursor-pointer dark:text-slate-200;
  }
  .navItem .active {
    @apply border-blue-600 text-black border-b-2 hover:text-gray-900 cursor-pointer dark:text-slate-200;
  }

  .navItem :hover {
    @apply border-blue-600 text-black border-b-2 hover:text-gray-900 cursor-pointer dark:text-slate-200;
  }
  .cardSkillsStyle {
    @apply bg-colorBackground shadow-xl flex items-center justify-center p-6 rounded-xl dark:bg-black/50 hover:shadow;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
